.loginContainer {
    max-width: 400px; 
    margin: 0 auto;
    padding: 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 10rem; /* Justera positionen neråt */
    background-color: #fff;
}

.loginContainer h2 {
    margin-bottom: 20px; /* Öka avståndet mellan rubriken och formuläret */
}

.loginContainer form input {
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Öka avståndet mellan input-fälten */
    padding: 12px; /* Öka padding för att göra input-fälten lite större */
    font-size: 18px; /* Öka textstorleken för input-fälten */
    border: 1px solid #ccc; /* Lägg till en 1px solid grå ram runt inputfältet */
    border-radius: 5px; /* Avrunda hörnen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lägg till en lätt skugga under inputfältet */
}

.loginContainer form button {
    width: 100%;
    padding: 8px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px; 
    cursor: pointer;
}
.loginContainer a {
    color: blue;
    text-decoration: underline;
}
.loginContainer a:hover {
    color: darkblue;
}

.logoutButton {
    margin-top: 5px; 
    color: red;
   
}


.editButton, .deleteButton {
    background-color:#007bff;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(50% - 5px); 
    padding: 6px; 
    font-size: 16px; 
    margin-right: 5px; 
}

.deleteButton {
    background-color: rgb(203, 0, 0);
}
.editButton a:hover {
    color: darkblue;
}
.deleteButton a:hover {
    color: darkred;
}
.dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.toolButtons {
    margin-top: 20px;
}
.editForm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  

.editForm h2 {
    margin-bottom: 20px;
}

.editForm input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editForm button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

